@import "normalize.css";
@import "typography.css";
@import "flex.css";

:root {
    --dark-color: #212529;
    --success-color: #28a745;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-size: 14px;
}

.w-100{
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

#header{
    width:100%;
    background: var(--dark-color);
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar li{
    padding: 20px 30px;
    cursor:pointer;
}

.navbar a{
    color: #fff;
    font-weight: 600;

}

.navbar li:hover{
    background: lightgrey;
}

.navbar li:hover a{
    color: var(--dark-color);
}

.form{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) -5px 5px;
    width: 100%;
    max-width: 1000px !important;
    padding: 20px;
    background: #fff;
    margin: 40px auto;
    z-index: 9999 !important;
    display: block;
}

.form-control{
    display: flex;
    width: 98%;
    padding-inline: 10px;
    margin-bottom: 20px;
}


.form-control .form-text {
    width: 73%;
}

.form-control .form-text input{
    width: 100%;
}

.form-control .form-label-text{
    width: 25%;
}

.rdio-btn{
    margin-left: 20px;
}

.btn{
    margin: 0 10px;
    padding: 8px 12px;
    border:none;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    background: inherit;
}

.btn-clear {
    background: #DC3545;
}

.btn-submit {
    background: #198754;
}

.btn-add{
    background: #198754;
    margin-bottom: 30px;
    display: inline;
    margin-left: 20px;
}

.btn-remove-all {
    display: inline;
    background: #b80000;
    margin-left: 5px;
}

.btn-cancel{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-weight: 900;
}

.modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:none;
    z-index: 3;
}

.modal-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 4;
    height:999px;
}

.tooltip{
    position: relative;
}

.tooltip-text {
    position: absolute;
    z-index: 10;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-weight: normal;

}

.tooltip:hover .tooltip-text{
    visibility: visible;
}

table, td, th {
    border: 1px solid black;
    margin-inline: auto;
}

.table, .table2{
    display: table;
    border-spacing: 2px;
    border-collapse: collapse;
    width: 100%;
    max-width:1300px;
    padding: 5px;
    margin-inline: auto;
    font-size:12px;
}

thead{
    background: var(--dark-color);
    color: #fff;
}

th, td{
    vertical-align: middle;
    padding: 20px;
    line-height: 1.6;
}

td .btn{
    margin:0;
}

.btn-cancel{
    position: absolute !important;
}

.skill-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.modal-confirm-remove{
    display: none;
    background: #fff;
    padding: 20px;
    z-index: 9999 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.modal-confirm-remove .btn-return {
    background: #615e56;
}

.btn-confirm-remove {
    background: #b80000;
}

footer {
    clear: both;
    position: relative;
    height: 100px;
    margin-top: -200px;
    width: 100%;
    background: var(--dark-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 5px;
}

#txtSearch{
    font-size: 14px;
    padding: 5px;
    width: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-search{
    background-color: var(--success-color);
    margin:0;
    border-radius: 0 5px 5px 0;
}

.table2{
    display: none;
}