@import "normalize.css";
@import "typography.css";
@import "flex.css";

:root{
    --dark-color: #343a40;
    --success-color: #28a745;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.w-100{
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

#header{
    width:100%;
    background: var(--dark-color);
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar li{
    padding: 20px 30px;
    cursor:pointer;
}

.navbar a{
    color: #fff;
    font-weight: 600;

}

.navbar li:hover{
    background: lightgrey;
}

.navbar li:hover a{
    color: var(--dark-color);
}

.form{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) -5px 5px;
    width: 100%;
    max-width: 800px !important;
    margin: 20px auto;
    padding: 20px;
}


.form-control{
    display: flex;
    width: 98%;
    padding-inline: 10px;
    margin-bottom: 20px;
}


.form-control .form-text {
    width: 73%;
}

.form-control .form-text input{
    width: 100%;
}

.form-control .form-label-text{
    width: 25%;
}

.rdio-btn{
    margin-left: 20px;
}

.btn{
    margin: 0 10px;
    padding: 8px 12px;
    border:none;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-clear {
    background: #DC3545;
}

.btn-submit {
    background: #198754;
}